/* font-family: 'Comfortaa', cursive; */
/* font-family: 'Merriweather', serif; */
/* green: rgb(92, 221, 112) */

.material-icons.vw { font-size: 2vw; }
.material-icons.vw-bigger { font-size: 3vw; }
.material-icons.vw-smaller { font-size: 1.5vw; }

body {
  background-color: rgb(54, 54, 71);
  background: linear-gradient(rgb(54, 54, 71) 75%, rgb(37, 37, 50));
  background-attachment: fixed;
  font-family: 'Merriweather', serif;
  color: rgb(40, 40, 40);
}

#master {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display:grid;
  grid-template-columns: 5% 55% 5% auto 5%;
  grid-template-rows: 5% 5% auto 5%;
}

#notebook {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column: 2;
  padding: 5px;
  text-align: center;
  background-color: rgb(255, 254, 245);
  background: linear-gradient(rgb(255, 254, 245) 75%, rgb(237, 236, 226));
  background-attachment: fixed;
  box-shadow:10px 10px 50px rgb(44, 44, 55);
  position: relative;

}

#menu {
  grid-row: 3;
  grid-column: 4;
  text-align: center;50%;
  background-color: rgb(255, 254, 245);
  background: linear-gradient(rgb(255, 254, 245) 75%, rgb(237, 236, 226));
  background-attachment: fixed;
  box-shadow:10px 10px 20px rgb(44, 44, 55);
  font-size: 1.5vw;
}

#logo-container {
  position: absolute;
  top: 45%;
  left: 20%;
}

#logo-sribio {
  font-family: 'Comfortaa', cursive;
  color: rgb(54, 54, 71);
  font-size: 10vw;
  font-weight: 900;
  text-shadow:3px 3px 10px rgba(0, 0, 0, 0.15);
}

#logo-right-paren {
  font-family: 'Comfortaa', cursive;
  font-size: 19vw;
  color: rgb(54, 54, 71);
  text-shadow:3px 3px 10px rgba(0, 0, 0, 0.15);
  position:absolute;
  bottom: 7vh;
  right: 5vw;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#logo-left-paren {
  font-family: 'Comfortaa', cursive;
  font-size: 19vw;
  color: rgb(54, 54, 71);
  text-shadow:-3px -3px 10px rgba(0, 0, 0, 0.15);
  position:absolute;
  bottom: 7vh;
  right: 25vw;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#logo-float-paren {
  font-family: 'Comfortaa', cursive;
  font-size: 18vw;
  color: rgb(54, 54, 71);
  text-shadow:-3px -3px 10px rgba(0, 0, 0, 0.15);
  position:absolute;
  bottom: 15vh;
  right: 7vw;
  -ms-transform: rotate(-95deg);
  -webkit-transform: rotate(-95deg);
  transform: rotate(-95deg);
}

#slogan {
  font-family: 'Merriweather', serif;
  font-size: 1.75vw;
  position:absolute;
  width: 32vw;
  right: 1vw;
  text-shadow: none;

}

#login-name, #login-password {
  background-color: inherit;
  font-family: 'Merriweather', serif;
  color: rgb(54, 54, 71);
  font-size: 1.25vw;
  text-align: center;
  border-style: none;
  border-bottom-style: solid;
  border-color: rgb(54, 54, 71);
  border-width: 1px;
  margin: 1.5%;
  margin-top: 3%;
  width: 15vw;
}

#login-submit, #signup-button {
  background-color: rgb(54, 54, 71);
  color: rgb(255, 254, 245);
  border: none;
  font-size: 1.25vw;
  font-family: 'Merriweather', serif;
  box-shadow:2px 2px 10px rgba(0, 0, 0, 0.15);
  margin: 1.5%;
  margin-top: 3%;
  width: 15vw;
  height: 3vw;
}

#signup-button {
  margin-top: 1.5%;
  font-size: 1.15vw;
  width: 10vw;
  height: 2.5vw;
}

#login-submit:hover, #signup-button:hover {
  background-color: rgb(81, 81, 107);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#login-submit:hover {
  width: 15.2vw;
  height: 3.2vw;
  box-shadow:4px 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 1.35vw;
}

#signup-button:hover {
  width: 10.2vw;
  height: 2.7vw;
  box-shadow:4px 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 1.18vw;
}

#login-submit:active, #signup-button:active {
  box-shadow:1px 1px 10px rgba(0, 0, 0, 0.4);
}

#login-name:focus, #login-password:focus, #login-submit:focus, #signup-button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

#big-hello {
  color: rgb(54, 54, 71);
  position: relative;
  top: 6vh;
  font-size: 4vw;
  font-weight: bolder;
}

#hello-message {
  position: relative;
  top: 10vh;
  font-size: 1.5vw;
  line-height: 6vh;
}

#login-form {
  position: relative;
  top: 10vh;
}

#signup-message {
  position: relative;
  top: 20vh;
  font-size: 1.25vw;
}

#menu-header {
  font-size: 3vw;
  margin-top: 14%;
  margin-bottom: 4%;
  flex: 0;
}

#menu-header-strong {
  font-weight: bold;
  color: rgb(81, 81, 107);
}

#home-button, #create-new-lecture-button, #logout-button, #archive-button {
  background: transparent;
  border: none;
  position: absolute;
  color: rgb(232, 198, 152);
}

#home-button:hover {
  color: rgb(141, 141, 185);
}

#create-new-lecture-button:hover {
  color: rgb(92, 221, 112);
}

#logout-button:hover {
  color: rgb(207, 87, 87);
}

#archive-button:hover {
  color: rgb(103, 175, 235);
}

#home-button {
  top: 11.5%;
  right: 31.5%;
}

#create-new-lecture-button {
  top: 11.5%;
  right: 29%;
}

#logout-button {
  top: 11.5%;
  right: 5.5%;
}

#home-container {
  position:absolute;
  width: 30%;
  height: 85%;
  display: flex;
  flex-direction: column;
}

#your-lectures-text {
  font-size: 2vw;
  flex: 0;
}

#user-lectures {
  height: inherit;
  overflow: scroll;
  flex: 2;
  margin: 1%;
}

.menu-lecture-container {
  display: grid;
  grid-template-columns: 95% 5%;
  grid-template-rows: 95% 25%;
  background-color: rgb(232, 198, 152);
  background: linear-gradient(rgb(232, 198, 152) 50%, rgb(237, 207, 166));
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);
  width: 90%;
  margin-bottom: 2%;
  margin-left: 3%;
  padding: 2%;
  position: relative;
}

.menu-lecture-container:hover {
  background-color: rgb(232, 198, 152);
  background: linear-gradient(rgb(241, 210, 169) 50%, rgb(245, 217, 180));
  box-shadow:2px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 2%;
  width: 92%;
  cursor: pointer;
}

.menu-lecture-title {
  grid-row: 1;
  grid-column: 1;
  font-size: 2.75vmin;
  text-align: left;
  font-weight: bold;
  height: 3vh;
}

.menu-lecture-date {
  grid-row: 2;
  grid-column: 1;
  font-size: 2vmin;
  text-align: left;
  font-style: italic;
  margin-left: 2%;
}

.menu-lecture-archive-button:hover {
  color: rgb(103, 175, 235);
}

#signup-name, #signup-password, #signup-confirm-password  {
  background-color: inherit;
  font-family: 'Merriweather', serif;
  color: rgb(54, 54, 71);
  font-size: 1vw;
  text-align: center;
  border-style: none;
  border-bottom-style: solid;
  border-color: rgb(54, 54, 71);
  border-width: 1px;
  margin: 1.5%;
  margin-top: 2%;
  width: 12vw;
}

#signup-message {
  position: relative;
  top: 15vh;
}

#signup-form {
  position: relative;
  top: 17vh;
}

#signup-form:focus, #signup-name:focus, #signup-password:focus, #signup-confirm-password:focus  {
  outline: none;
}

#notebook-textarea {
  resize: none;
  border: none;
  background: transparent;
  padding: 1%;
  position: absolute;
  left: 4%;
  top: 10%;
  width: 90%;
  height: 88%;
  font-family: 'Merriweather', serif;
  font-size: 1.25vw;
  text-align: justify;
}

#notebook-textarea:focus {
  outline: none;
  background: rgb(249, 247, 227);
}

#save-status-button {
  background: transparent;
  border: none;
  position: absolute;
  color: rgb(92, 221, 112);
  position: absolute;
  top: 2.5%;
  right: 2.5%;
}

#menu-header-small {
  margin-top: -5%;
  font-style: italic;
}

#users-text {
  font-size: 2vw;
  margin-top: 5%;
  margin-bottom: 2.5%;
}

.current-user-link, .users-link {
  margin-bottom: 2%;
  color: rgb(81, 81, 107);
  font-size: 1.5vw;
}

.current-user-link {
  font-style: italic;
}

.current-user-link:hover, .users-link:hover {
  margin-bottom: 2%;
  color: rgb(81, 81, 107);
  font-size: 1.7vw;
  cursor: pointer;
  color: rgb(100, 100, 135);
}

.delete-lecture-button {
  background: transparent;
  border: none;
  position: absolute;
  color: rgb(207, 87, 87);
  position: relative;
  margin-top: 10%;
}

.delete-lecture-button:hover {
  color: rgb(227, 66, 66);
}

#new-lecture-title, #new-lecture-date, #users-search {
  background-color: inherit;
  font-family: 'Merriweather', serif;
  color: rgb(54, 54, 71);
  font-size: 1vw;
  text-align: center;
  border-style: none;
  border-bottom-style: solid;
  border-color: rgb(54, 54, 71);
  border-width: 1px;
  margin: 1.5%;
  margin-top: 2%;
  width: 20vw;
}

#new-lecture-title, #users-search {
  font-size: 1.5vw;
}

#users-search {
  width: 16.5vw;
}

#add-user-button {
  background: transparent;
  border: none;
  padding: 0;
  color: rgb(232, 198, 152);
}

#add-user-button:hover {
  color: rgb(92, 221, 112);
}

.remove-user-to-add-button {
  background: transparent;
  border: none;
  padding: 0;
  color: rgb(207, 87, 87);
}

.remove-user-to-add-button:hover {
  color: rgb(227, 66, 66);
}

.user-to-add {
  margin-bottom: 5%;
}

#users-to-add {
  position: absolute;
  width: 25%;
  max-height: 25%;
  margin-left: 12.5%;
  overflow: scroll;
  right: 7.5%;
  top: 50%;
}

#new-lecture-button-submit {
  background: transparent;
  border: none;
  padding: 0;
  color: rgb(232, 198, 152);
  position: absolute;
  right: 19%;
  top: 75%;
}

#new-lecture-button-submit:hover {
  color: rgb(92, 221, 112);
}
